* {
    font-family: "Uchen", serif;
}

body {   height: 90vh;   display: flex;   justify-content: center;   align-items: center;   flex-direction: column;
}

button {
    cursor: pointer;
}

input {
    width: 250px;
}

#amount{   color: orangered;   border: solid orangered 1px;   padding: 5px;
}
h6,p{
    display: none;
}
.block{
    display: block;
}